<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usu1.mapper.TodoItemMapper">

    <select id="selectList" resultType="TodoItemDto">
        SELECT *
          FROM todo_item
        <where>
            <if test="title != null and !title.isEmpty()">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and !content.isEmpty()">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="completed != null">
                AND completed = #{completed}
            </if>
            <if test="startFromDt != null">
                AND startDt &gt;= #{startFromDt}
            </if>
            <if test="startToDt != null">
                AND startDt &lt;= #{startToDt}
            </if>
        </where>
        <choose>
            <when test="sortList != null and !sortList.isEmpty()">
                ORDER BY
                <foreach collection="sortList" item="sortItem" separator=",">
                    <if test="sortItem.startsWith('-')">
                        <choose>
                            <when test="sortItem.substring(1) == 'seq'">seq</when>
                            <when test="sortItem.substring(1) == 'title'">title</when>
                            <when test="sortItem.substring(1) == 'content'">content</when>
                            <when test="sortItem.substring(1) == 'startDt'">startDt</when>
                            <when test="sortItem.substring(1) == 'createDt'">createDt</when>
                            <when test="sortItem.substring(1) == 'updateDt'">updateDt</when>
                        </choose>
                        DESC
                    </if>
                    <if test="!sortItem.startsWith('-')">
                        <choose>
                            <when test="sortItem == 'seq'">seq</when>
                            <when test="sortItem == 'title'">title</when>
                            <when test="sortItem == 'content'">content</when>
                            <when test="sortItem == 'startDt'">startDt</when>
                            <when test="sortItem == 'createDt'">createDt</when>
                            <when test="sortItem == 'updateDt'">updateDt</when>
                        </choose>
                        ASC
                    </if>
                </foreach>
            </when>
            <otherwise>
                ORDER BY seq DESC
            </otherwise>
        </choose>
         LIMIT #{size}
        OFFSET #{offset}
    </select>

    <select id="selectTodoItem" parameterType="TodoItemDto" resultType="TodoItemDto">
        select *
          from todo_item
         where seq = #{seq}
    </select>

    <update id="updateTodoItem" parameterType="TodoItemDto">
        update todo_item
           set updateDt = NOW()
            <if test='title != null and title != ""'>
             , title = #{title}
            </if>
            <if test='content != null and content != ""'>
             , content = #{content}
            </if>
            <if test='completed != null and completed != ""'>
             , completed = #{completed}
            </if>
            <if test='startDt != null and startDt != ""'>
             , startDt = #{startDt}
            </if>
         where seq = #{seq}
    </update>

    <delete id="deleteTodoItem" parameterType="TodoItemDto">
        delete
          from todo_item
         where seq = #{seq}
    </delete>

    <insert id="insertTodoItem" parameterType="TodoItemDto">
        INSERT INTO todo_item (
              title
            , content
            , completed
            , startDt
            , createDt
        )
        VALUES (
              #{title}
            , #{content}
            , #{completed}
            , #{startDt}
            , NOW()
        )
    </insert>

</mapper>