<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usu1.mapper.TodoItemMapper">

    <select id="selectList" resultType="TodoItemDto">
        SELECT * FROM todo_item
    </select>

    <select id="selectTodoItem" parameterType="TodoItemDto" resultType="TodoItemDto">
        select *
          from todo_item
         where seq = #{seq}
    </select>

    <update id="updateTodoItem" parameterType="TodoItemDto">
        update todo_item
          <set>
            <if test='title != null and title != ""'>
             , title = #{title}
            </if>
            <if test='content != null and content != ""'>
             , content = #{content}
            </if>
            <if test='completed != null and completed != ""'>
             , is_completed = #{completed}
            </if>
            <if test='startDt != null and startDt != ""'>
             , start_dt = #{startDt}
            </if>
             , update_dt = NOW()
          </set>
         where seq = #{seq}
    </update>

    <delete id="deleteTodoItem" parameterType="TodoItemDto">
        delete
          from todo_item
         where seq = #{seq}
    </delete>

    <insert id="insertTodoItem" parameterType="TodoItemDto">
        INSERT INTO todo_item (
              title
            , content
            , is_completed
            , start_dt
            , create_dt
        )
        VALUES (
              #{title}
            , #{content}
            , #{completed}
            , #{startDt}
            , #{createDt}
        )
    </insert>

</mapper>